@font-face {
    font-family: 'Arcade';
    src: url('./assets/arcade_font.woff2');
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Arcade', sans-serif;
    color: white;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#score-container {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: #FFD700;
    z-index: 10;
}

#board {
    width: 100%;
    height: 100%;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
    width: 85%; /* Добавляем ширину для контейнера */
    max-width: 280px; /* Уменьшили максимальную ширину с 320px */
}
#game-over h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #888;
}

#game-over h2::before,
#game-over h2::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #444;
    margin: 0 10px;
    vertical-align: middle;
}

.score-box {
    background-color: rgba(26, 26, 26, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    width: 200px;
}

.score-box p:first-child {
    font-size: 14px;
    margin-bottom: 3px;
    color: #888;
}


.game-over-button {
    width: 100%;
    background-color: rgba(229, 231, 235, 0.966);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    opacity: 0.9;
    height: 36px;
    min-width: 240px; /* Уменьшили минимальную ширину с 280px */
}

.game-over-button:hover {
    opacity: 1;
}

.game-over-button svg {
    width: 18px; /* уменьшили размер иконок */
    height: 18px;
}

.game-over-button .yellow-text {
    color: rgb(211, 179, 0); /* text-yellow-400 */
    font-size: 17px;
}

.game-over-button + .game-over-button {
    margin-top: 8px; /* уменьшили отступ между кнопками */
}